AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false
BinPackArguments: false
ColumnLimit: 80
AllowAllArgumentsOnNextLine: true
AlignAfterOpenBracket: AlwaysBreak
