[submodule "cTorch/lib/protobuf-c"]
	path = cTorch/lib/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c
[submodule "cTorch/lib/jemalloc"]
	path = cTorch/lib/jemalloc
	url = https://github.com/jemalloc/jemalloc
[submodule "cTorch/lib/protobuf"]
	path = cTorch/lib/protobuf
	url = https://github.com/protocolbuffers/protobuf
