[submodule "cTorch/lib/jemalloc"]
	path = cTorch/lib/jemalloc
	url = https://github.com/jemalloc/jemalloc
[submodule "cTorch/lib/flatbuffers"]
	path = cTorch/lib/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "cTorch/lib/flatcc"]
	path = cTorch/lib/flatcc
	url = https://github.com/dvidelabs/flatcc
[submodule "cTorch/lib/Cerberus"]
	path = cTorch/lib/Cerberus
	url = https://github.com/pcpLiu/Cerberus
