[submodule "cTorch/third_party/flatbuffers"]
	path = third_party/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "cTorch/third_party/flatcc"]
	path = third_party/flatcc
	url = https://github.com/dvidelabs/flatcc
[submodule "cTorch/third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "cTorch/third_party/OpenBLAS"]
	path = third_party/OpenBLAS
	url = https://github.com/xianyi/OpenBLAS
