AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false
BinPackArguments: false
ColumnLimit: 80
AllowAllArgumentsOnNextLine: false
AlignAfterOpenBracket: AlwaysBreak
